/*body*/
body{
    background-color: rgb(7, 0, 22);
}

/*text*/
@keyframes smooth {
        0% {background-position: 0% 50%;}
        100% { background-position: 100% 50%;}

    }
.shine{
    background-image: linear-gradient(
        to right,
        #c6a3df 20%,
        #b9a8db 30%,
        #8ac1e9 70%,
        #aeaff1 80%        
    );
    background-size: 500% auto;
    animation: smooth 5s ease-in-out infinite alternate;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}   

